<div class="topNavContainer">
  <mat-toolbar color="black" xmlns="http://www.w3.org/1999/html">
    <mat-toolbar-row>
      <button (click)="sidenav.toggle()" fxHide.gt-sm fxShow="true" mat-icon-button>
        <mat-icon class="lonelyIcon" svgIcon="menu-icon"></mat-icon>
      </button>
      <div class="menuLogo"><img alt="" routerLink="/home" routerLinkActive="active"
                                 src="assets/TarafulTurneniiLogo.png"></div>
      <span class="menu-spacer"></span>
      <div class="topNavItems" fxHide.lt-md fxShow="true">
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <a mat-button routerLink="/home" routerLinkActive="active">
          <mat-icon class="topMatIcons" svgIcon="home-icon"></mat-icon>
          ACASA</a>
        <a mat-button routerLink="/events" routerLinkActive="active">
          <mat-icon class="topMatIcons" svgIcon="event-icon"></mat-icon>
          EVENIMENTE</a>
        <a [matMenuTriggerFor]="galleryMenu" mat-button>
          <mat-icon svgIcon="camera-icon"></mat-icon>
          GALERIE</a>
        <mat-menu #galleryMenu="matMenu" class="custom-gallery-menu">
          <button mat-button routerLink="/photoGallery" routerLinkActive="active">
            <mat-icon class="dropdown-icons">camera_alt</mat-icon>
            FOTO
          </button>
          <button mat-button routerLink="/videoGallery" routerLinkActive="active">
            <mat-icon class="dropdown-icons">videocam</mat-icon>
            VIDEO
          </button>
        </mat-menu>
        <a mat-button routerLink="/contact" routerLinkActive="active">
          <mat-icon class="topMatIcons" svgIcon="contact-icon"></mat-icon>
          CONTACT</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<div class="sideNavContainer">
  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list class="sideItems">
        <p></p>
        <mat-list-item>
        </mat-list-item>
        <mat-list-item>
          <a mat-button routerLink="/home" routerLinkActive="active">
            <mat-icon svgIcon="home-icon"></mat-icon>
            ACASA</a>
        </mat-list-item>
        <mat-list-item>
          <a mat-button routerLink="/events" routerLinkActive="active">
            <mat-icon svgIcon="event-icon"></mat-icon>
            EVENIMENTE</a>
        </mat-list-item>
        <mat-list-item>
          <a mat-button routerLink="/contact" routerLinkActive="active">
            <mat-icon svgIcon="contact-icon"></mat-icon>
            CONTACT</a>
        </mat-list-item>
        <mat-list-item>
          <a [matMenuTriggerFor]="galleryMenu" mat-button>
            <mat-icon svgIcon="camera-icon"></mat-icon>
            GALERIE</a>
          <mat-menu #galleryMenu="matMenu" class="custom-gallery-menu">
            <button mat-button routerLink="/photoGallery" routerLinkActive="active">
              <mat-icon class="dropdown-icons">camera_alt</mat-icon>
              FOTO
            </button>
            <button mat-button routerLink="/videoGallery" routerLinkActive="active">
              <mat-icon class="dropdown-icons">videocam</mat-icon>
              VIDEO
            </button>
          </mat-menu>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

