<html>
<body>
<div class="video_box">
  <div class="video_overlay"></div>
  <video #videoElement [autoplay]="true" [loop]="true" [muted]="true" [volume]="0.2" id="bgVideo" playsinline>
    <source src="assets/bgVideo.mp4" type="video/mp4"/>
  </video>
</div>
<div class="content">
  <div class="text-content">
    <h1>Taraful Turnenii & Leonard de la Roșiori</h1>
  </div>
  <div class="mediaButtons">
    <button #myBtn (click)="playPause(videoElement, myBtn)" class="mediaBtn" id="myBtn">Pause Video</button>
    <button #muteBtn (click)="changeImagePathAndMuteUnmuteVideo(videoElement, muteBtn)" class="mediaBtn" id="muteBtn">
      Unmute Video
    </button>
    <div class="volumeBar" id="volumeSlider">
      <img alt="" src="{{imageSrc}}">
      <mat-slider (change)="changeBtnIcoWithSlider(videoElement, muteBtn)" (input)="videoElement.volume = $event.value"
                  [value]="matBarValue"
                  class="matSlider" max="1" min="0" step="0.01"
                  tickInterval="0.01"></mat-slider>
    </div>
  </div>
</div>
</body>
</html>
